/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

/*common css */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.active {
    fill: deepskyblue;
    transform: scale(1.2);
}

/* canvas */

.wrapping {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.wrapping .tools {
    left: 10px;
    top: 10px;
    position: absolute;
}
.wrapping .tools .icon{
    font-size: 36px;
    margin-bottom: 4px;

}

.wrapping .color{
    position: absolute;
    display: inline-block;
    left: 10px;
    text-align: center;
    align-items: center;
    top: 50%;
    transform:translateY(-50%);
}

.color span:not(:last-child){
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.pen-earse{
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 30px;
}
.pen-earse .icon{
    display: inline;
    margin-bottom: 8px;
}


.wrapping #canvas {
    width: 100vw;
    height: 100vh;
}
@media (min-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    /* body{
        background-color: red;
        border: 1px solid red;
    } */
    /* .wrapping .tools {
      position: absolute;
      bottom: 0px;
      border: 1px solid red;
    }    */
    /* .wrapping .color{
        position: absolute;
        display: inline;
        left: 10px;
        text-align: center;
        align-items: center;
        top: 50%;
        transform:translateY(-50%);
        border: 1px solid green;
    } */
  }
